@font-face {
	font-family: 'ClairvauxRegular';
	src: url('clairvaux.eot');
	src: url('clairvaux.eot') format('embedded-opentype'),
		 url('clairvaux.woff') format('woff'),
		 url('clairvaux.ttf') format('truetype'),
		 url('clairvaux.svg#ClairvauxRegular') format('svg');
	}
.accesskey {
	background:rgba(0,0,0,0.8);
	border:1px dotted #ccc;
	color:#333;
	left:-999px;
	margin:15px auto;
	padding:5px;
	position:absolute;
	outline:10px solid #fff;
	top:107px;
	width:205px;
	z-index:1000
	}
a, 
a:active, 
a:link, 
a:visited, 
a:hover {
	outline:none;
	}
.menu li a:hover,
.active,
aside h1,
aside h2,
#main a,
.careers a,
.reviews a,
#copyline span,
.tabledata thead th{
	color:#B97F36;
	}
h1,
h2 {
	color:#B97F36;
	font-size:1.2em;
	letter-spacing:1px;
}
blockquote{
	border-top:1px dotted #000;
	font-style:italic;
	padding-top:8px
	}
blockquote footer{
	text-align:right
	}
#logo {
	background-repeat:no-repeat;
	background-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAKoAAACsCAYAAADrLzefAAAqkklEQVR42uxdaXQVRRaWJJCwk7BJADEbm6iAsggMBBUQRFHRsO+YCBIcEiHIog4go+yCsjgiGQRhVJZhFUYWgbDOGGDUEVCQZTBIZBEUwjo153w55557urqq+3W/fjHvx3fgpau761bdvnXrbnVH1lv1g3AHDwkMESidFRwLn1HoB8AlpAmcE2iUFRyLIKMGKKYK3BZ4PCs4FkFGtYkiLj9/Cph0XWFnrCCj2gD0xESXGfUpgdtAu8LOWEFGtYdpAl1dltSnCaPW8ZjeokFGLXjoI5Drhx3+bYLWHtD5iMBkgZ4CJYKMWsAAxlnvwHNCTK71Z4y61E+0lRMYKXBS4KrAqwJ3Bpf+goe+YJxUH5/TSWEP7YH3UDTx4X3FNdo8J5BD1Y2gjlpwkY1JHO3DM/4scEyxEWvCGRXqRhmL72onMF8gEr91PoxrAjHBzVTBRRUymf+y+YzKuP+AhgT8xYBZv7TwruG4Z5qiXTR7x+zgrr9goymb0EE2nvEB7j2u0XYbeZdVffUt0l6lY77Jnv9UkFELNuINmGao7v1Ytq+Tex9RtJ9F2nKkaNpfcwRCddQZgueCjFrwccyAaT4TaKhx78PsviOK9i+jnQwVJPfRDdFFgQiLKsabQUYt+HjJhHFmKTYtSay9yjU6QsGobxnck2jQrqnJO2oZtP86yKi/D/xowjxnBJ6WmaQk96yStP9QwaiHDe55z6DdAhNa2kue3SDIqAUfj/KJ1dRd25i0n2fgDLio8Z5o6naVWApuClS0KLXfCTJqYGOE5q53rQYTtWX3dFS0f4i0nYy/qXAvtyhIMFFCxz5J+1yB0CCjuocogZo+3H9JYIVGuzgNJjrHgjneULTPJD52HSa9Rs1RNtSERMU9iRbGrZhAqSCj6qOLwGCb95bFBN0SKKnRfrsGM/Ui7c8q2v5N4EHyW4UN+CiV0h1msfKkL5UEflLcM1JBfyj07kUCfxeoHGRUTWDQXrd5bzMySTsULk6lhAT+irZz8NsrXGZ0ntC4Z44J7YOZqa51cOm3hgsC0xVtdHfABxQTMFI12ZA0vUyunxLYLbBMYAGW8BTEuj6JPrUD2uNvXdHmDXwIy/CMUybvWS1QXWCuss9qV2omazfYYsB5SzgVBiIXLBnqTtHCwqjFiDS0c38d3G9k0O9g0H46b6uhJy4Fgz8BT1cxh+mPx7NH4l2HfZDC6bL8LYKfLYQPviuQy+7/TmAWPr7wwsKod5EBsKsvHVfokDSG9IBion+ERE0ju3MvcC8CVDYwr5UKddlzuksktc68cGn/uUCTwrr0x7JlO9LGMyYoJm8z2t1twpzvIWO0uE2mqujiGBVH395TOC7WsvsGStot1Hjn9/zZhV1HjRC4yJhmmEBtq1JZgXbQD6lB/WOBzjaYk9tZD3OLg8tM2xl9v0njA6AGJSDt5h8mY7FG8Y7xrP1VgZKFnVH/jzWSAT2Ca9Mw+GbMu1tzaTwFho1zInkOzHLUo3GLAy1YomFKU2O/Qi/l7dcHd/0C8FHf1sR2SBT+jIWK+84IvOJwwttqPHu5x+NXApuoS5pjeMzkWQsM2k8PMqoAkEoHR9fWSfCJpN1xmGJCHO7vUB5NFQAIAa3HFWP3reT+RjJXbpBRAeB5i8y6jNz7Hbt2ReBVl8wnMXjHTwK/kaU0UBAO2q9Ixm2BhKZzstDEIKMCBH+waI5pLRDK/vaRQA0/JAsuRl9/DFBPTg2MBR2bsxgvniR4wWSMJwcZ1Rh3ChzSZNR/C6zE/3/wQ+5QCvHDjxe4IZBncVdcVWCcwC4sw5+6XP7nKaIObIA7tj+M9gc1xnhKkFHNI6p+tiBZ5xAzkysAM+bhfdtY5kB9C1mml2U0uLrhsh+7MK4wMmpFSzZK9SD+SupJuY3Z5L2TBAaT3wM17v9Yg55FLtPQjXxsuhhYGBl1oaUsUGySJNghUMPf9QGAPgLp5PdiK0wKnTBD4BmBnexahh901x0WGDWhMDLqX0F8c6tSzOOCC7wfDQVmsIBrWXT9Hw1iUquwNp+xNvf4iyYF/llYw/xeYCm+dRXtxxoM3jAP6qpeZ+7XCga2244aknizyXuOkHY3SCkgNzFMwahNFJ652tDPY+DKLvl7YdRmElfpDkQtzWQZoeNYW1zzK4byZRuTtJr9faMiK/W8In6zNtpsFOht4OOvhjb1BOqAOaIcKEz8tIRJx0ja18fKeEqSvfC7YNQQVToFsAsSZTjJNWrp0ZKzX+LZ2cL7zQqVVWLXulh4ZyhWn8WoXXXGZBN0E31cBJNZmkArKzRibK8RR8bTkrSfaZI+zAC9vyvzVD9NJf4I/NK/eZizHmuit202uLZEktb8vQWb5ybN8bmFjNRtzJR3VCDJZszFb7CkJINZW+PfySYhhumBqqNG+Bx/CSO9Jup5qMAPMalKsoRfYwHgxy3o1d00I/svkRLv/QQmkJC+bIEnfKS3nkXT1ReBvJkKF8hwwMD+T6XE8L76x1KT6KO3Jf1ewWpe3ZBV54N+uUjFEPC69YBO2sJAwk10OJrtliajPhbou/5NDlSQK6uoLAKd1FN8LXEy8FLoHPECsYq6qmW0PlbYnbFRWW6QqfqoC3S31GDSKxBaAc+ox1w0jzzrNZMiiPg3Sf8imOmJ4yiparJOsln6RsEIBwUiZeUsoZfWcpH+ZxX926T5nF5Q9bIF9mCDmEJsydrwhcGGOODxuckGYBSueY2askkiUuyqyvUoCTiBXqlMFylPdF0uSWP9MAaj6HstplzXBmOa0bkCBTEi3GLU+5l+VJ1KC3Tyadji3seS9RFSJxJ5FimvzBwgaGxWrhJtVigmIsJGDdVVxF4pa9PIYz39goK5WkvMaSdRbORJWDhGIna2oZvmqVOsptJ+6FwnNfSbLLJR2keL5AYQWpjlXqFNKwWd6xSeKo4D1CwmQaoHY3GEOS4eNGnbW1prQb4BD3WPUXEsjo/oT3Lt7w4sRoVEkyMe7c5YcEN+rNg4wW0qjbbf4slYINUcOvv9Up1eXhr+J28N/vB3O4DkAIyJra4ZkpeiaLcb7e5VtOtEA1QkKKm0YbsfNP4FymW+SMr8zGMVVTgGBYJnaiKxu9nBZ7rB1H6emDCBHIUELMEkoAylBJ7R0Eu7y9rAjloEJr2XPGLW9Tbm9wrTZ23DqR3yBOIX18VVC1FCnUiVZ39hs6L/M9nhZDL8CXrYLQnDhwkUNfngD7PTU/KIb92fKEMsHbr4W6D6+hsJTNeMJO9tKRUEUTp+nJjxGjREUk+bQkfbYFKPdaWGnhtBqlR/5Y1UxWZJH+29Z1R1JPk6le5mESuZsdltPGBBYrTG72zobl3YeVBlqT7L6OioW8MAWEILnnkA3co0ZwtS9NTnEiJq2iz6+zPRbZ0+b7+4ZjoMRxSW9wv8fhJs0oydJHiJBGbflE603HQzxztmhTNEjRcLEqOWMiiG8IHd6tSY4E+Jjuh0PafK0qwEOTZg1zsf6dDJQFVSbbArgp+5eevfJs9toOkhPEoOW/MXPlBVZCmI8ajT2OahrM3nzCPVO87i/487/FG1FQhjxujzuptDw1r8CJwmJ1Dfp3GmQCcLe4LvFe7nci5YTcpiLmWHdlT3PMzPRtHdeIcqb6wlZyp9QkouFrW6zCvcf7xadR9NRr2OgOkHgOECN3DtGTBLXUyyrPjDRRI5FmaBhoHw+K2C9+oJSL0b5LmHBBY7+HFPlhSyq+F59BSY4kNItWKSL62NwDBMVCI777O0D509jWd8KjCJDM5oGzRUNilXPpoMdjT+zdI4HCJO4tXJg25dT2ErzSSxq71NwugqgwZZjMJ/INWWQj06LandVcLXxEdWo6pdoIX5tSPV8mYLpEMXWy9ZJnfihLpMHzp6H4sVeJmnK9vYEDRky35x4sN/Ff+vA4Qrzo9qaCDxqkmsBz/D9XoMlpEXWdjbq0SqF2cf9wMaufatSD7VXIGHjKQfGLqcjwz0vr9OuLZ7IySMPrT1JPWJJt+QSiWA9a8Zy2MLYqNsRLwoM8ix5+nEjMQ3hieIzsnxSD4Do00uiRKrytpGkuMwZxAmpX36g2a6CY9BOImPbYiEWaFi2EJ5lqaTgY+pmkADrAxTYVpchsziVv5k1DiLTPqJg9mgXxrUqJ9g51QSfABNCU1PklDGFSSSqo+B0X6hQpWpgNoEJclSuTCfeYgPPJmkdawgjN+JqBNN0VfdU1nGGmSrJkhO294q4HTMx02VjRX6fBl/7PqfsMCojR20261h9VRVsawRfFlm+t48YtdNymca/H0s2axsJ5moHSxEyv/ZoK7WaaLG9MPfXxOYi/+3J9mktdCXyiabqeIGFoxrBn73GhKP2xKnY3cVnrqtqBRYxV/mqaYanopDDkeaTxJI1z1HHypHQ6LHhmCTVJaE9C3L19fw/Bj8Xody7Dk+ZCC8JwkkeQXPzME71qNPMaSAbjn0rT7ZrEYTRg0FbVGKckJUP47HR3Hbd/s2oF8qNEMg3Es7al+T3O+XHfZu9cagWpEINeFXr0okThsSB9uVVDupTSaNnuLXgu++NSODysEA/pgiQLsnMabXwv83kuIVMehzSVJrtZfCy5ctYdZGuDePn1xo086Nza06lNEunK5r+i+DDlbx8fSRHLbDbydw1kYdz7qQJM0IAw0VaEAk6SqiH45H8MdlbhuELtvYgg23KZbeOElcxGW8azyZ0NXo0x2QmqmEiZqDFlX9rgomFaVfAONPoxnB6EtfHysecowNNM9UKUb0Nh+fV0kgjy1PSQYD0Ua34jMmpj9h1knk7P0vcP0O8mx+dFCazbqswwXOSZPh8D7izdtKanZNIqrJAESoRWu+tzbRiTn2whqQjt35UrIyboLK0ozYd82wTfKOPU7wltuFxYb6Wi2ZMj4maaKByy5UkYNTmuzQw6A3vk02W5lkad9CaogmGZjJ0qyYb5j5Z5/AGsmmKInUft1MTFKZRK97GxurUEaXKg+poiKUMBeMuUjgc5p0iVWyje68M/zXqTgELK8+59Tcw766X2jhMB+xixDe3aAQ7et8Bwy9rRpj+Ib5yz6Z9K2EYTZA+lTEc1fyulnsVBFdCZ7Igo9vE3toCPzioTSUEZNbh0SJFYG0n8GqIzZkHqbqoL24SX2rtRoB0PshxVvjWVZOjLlFTkd0LMAbk2h5KasPr9QhZv7YjQk9SE4y9hUvkiolA1jqR57RQGKi24Cx7yJ/bwtdryqxN+aCKUIQR7CRJNtR/TbbpnRIYTW0pueH+QH3EMdAGUzyRiTLFcG7c4meV01gCJNyd4HWtpp9rAJdfxBWiZcxb63JB24ZmPNjNjxe5aGrh6qW/tH4AnSS3jI1q81NczB/6Vc8cwgrrNtPw504BvcVJfWV3iDR9c+RwhJVJSfWbSF6rVW0YZaPcKpX43cXsoTPwPVotKHVY3qh7w2I0yIVNAZCGaTZsN9O0fBE1oSJLgsr8A2oHO8YrcR88DJNdt8ZYBgpg7pWeBfOBSzXuRbP6QyH/rSAZbxOJGaoWLhDd2HAItlZTNk+Wi5mClRmuuoepp92JO7Um+jLCTJp88GkVFIvAG3QYT1HJ1YDYBxWiwiBMAi67poVHf8o20z1IDvBfkjxbQmTyQ+4potbRGd1BFgKv8KzL2hMTgnWh3iBTOh97YmZaTv0yNKS6tHfCnTzse/TWcR7T7yrGPE+pRuU/SmFvm0j7t0OAhtASzw7o6uE1+eESeJUT0NaYjWUg7VZK9v1b0UD23A5+WwWiOb2wxBufAcTxGJJf5jZQPdgsiPxpX9ACkTQg4G7skK8djGAnZUfRpP7gDHEFNYZ1z8WmI/2UejzHtBAg1/agNZiBu7jED8z61c2eWadQHtI3QQIyxMQLJWMzDgnHGDUxS4NQh2BqRJzTDQid5pQSQqaOkJiJTPGOCUwkw4wU+j3Ev+7bUD33cQOZDgKyUm9O8n59JDTCe9AH0/R2Fu0TQdtpZlUa4KxiCb0+AuLbfDLaybPSxPoJQnMhfHWPjJczMFabmLsrgR1ZQB0nM5M0vaBwj8Oy2QoMkmPQHJuZ7bHS0R6+4odTG+fIZBHD35gGRDb0acjMMSHgtHHg4bezCTXGTQPxBjANOR3ZFjklUk6lc5VkT9/gc62Df+uBKNgpyZ9eUcXB+JLYptU7fgzwBDTWI55F4FMssNMMgg6ecmpuknAinwnA9CeuZiroU9hLBgnCX18B9e7sGdMA40ZJNbTS3S0wKR/94dnqgLC7XDSifuHekEHO6+wKIRxTxXZIS+D6SSe6KtzkV7DkwU3kY2VE5jK6t6XI4xIl80H6YSjb3OJXhoPGpaBphROL2F2L3CPJpN+7W8XagVWtPWyiwd6VdeQ2OHwljXGEpjAmGMMHBP7YMerD7fmbWbsznFYhekrcJL9LQ8MTNOQkxmta9DHUejzbtBAjeoJoLUxaPfSXFUGPKAK/Szrha8/jGzCvnFxEB7DO5pq1NcsD195D+huqWDwKFxvAtXmABjojEARogtfdTJhDX2+zHTH/7DKL1OIzlYEfTqJPv6FlPeJAi2poK0naC2vqEHqL3yrqDRdysuglBC4Ufe7QDhP0eW7+jhIk+YILok3iGGIBdNOhJkrA16pZ8EQJ5gfPY9IWCcQBUZtTf62RuAwDXqh2Qpg0hz08Tn0+R3Q0AM0cedCPMagOcYkjlkFXAc2gteA/MChtaDDs+ipDjAvJJM0A7cG4EeBWxLjfiwmpiv0trFYIl8XSIW9MZL4utvj+mTovVvYMv2LC/0/zwz/s1kpoF7MZLUV90wGPR3I5isKNKWCxjFokyzQFWMR45ETYDOJ442ny7z7jAoQPE4qRlPMUdzXnBmmdVGDeY6UgHetMyYxExJsJ57xLhLMhsFluYylcYCBHEWuwBtMgl6nxntWQG45+jYMfX0Xfd8JWhbAttqZBb54jfmYq6lepksXY8eAc0zRiCb6TqC2zWU/VaErRwpEg7GjTCKHRqBa3haD49XHOV2NDviBxVMkg1HDSCT/QYEIdlz5Ftw3An2vIlEtasC5EOnpzh9zRawWYW4yagKW9Psx8ffDE3LM17QDEg/wJ80dakVeYEyCUFghasPW+hQM42no1ygS/DwITD/BoOjaW8SG6iQOsGCa3ixUsRY2o9HsjKkJ6Osg9H0kaBmL371BayJor+DXDZQ6Xfs7rFL32bUIqcwMa2ietiZG6NgUmTlrhKKw1vPszHu7KAlGb4nNSBpZHWhY4msu6ah7mS7cFfTnM2o8BEEMKzA3A33tgd19HHHHBiJGKLIJskkVF6eWfmR86mO4xjNrkTpSx0jUzDp8eS0EomyqJZ3gQh2MyR2FpXwSJnwmds5zYfJZxV15sK9ecWECtwnsYR6yi2RprIOgm7vZEroKfZ0HPXUWaJkE2kYLpIHmvhiDVnAeJNCz/f2E4Rb4ZZ5jOiqWnHNOMSqwB770AYRZKH4R+AoS6CNM2nTkO83BRI3HktiemJLuRMRUkkBPSKHuQD+BF0BPOu6fmx/rSunF38JdMNvsZbEHZ/J/g7HOktjVmWSDOo6oLCm4txvo6gZ6O8OD9TB2/fWgt5YNVEYFvlWlnltKFyCuyJ0mefwZFg+HPY5NxBj8tovrMJ53lHirYhBR9CgYOA0Fyd6EvryQ7r7xzAQXyorvYmk2XzNLyjliFVmIvr2JvqbBhPUomDpWldMU4IEpZ0jUWpZAZTfMU8URB7lKkmynBuqEgukr4Xl5DsXDJhJ/fhpUihdgOH8G0qcPls2b7CCLu2i6iIPYx1LIX8FvKslzye+N6NsogV7Ey/YKPuzhiJZKAr3Il/Icr2uc99qO6NnhUFekB+M5L+r1c6X4MY03IPHCyRmcviJF8nGlQVrtENiC5fYgTWN2KVzxEMtunQFaaWbsUfYhX4SrNRseqbKSdJdacNM2xgoVR1yV/sZ0kzqy/b3O6++CZWqxj+c5pZMN11pfmZWkkUzA0rsaDJKCXXcyKdBA7X2HXTjUIoc6RGDHHc9Swz+nwdNg7pr4wBpD2jeCZF0INey0ZCU6i+vzMD+RfjT4X2dq2Ufouycu1KLwiydBgb/EQtnUQOYnQzY5dzMEzLSGHBZsFY0hXUoQj9XzZNf8IdrVJ/1aQCqbOAJIxzH0AA1WBPdXUkS4AatJFQMVAAdU2MJ50AWzkGvYiY+yGZb06l65UMMhCU4ZJPVtt5u7zwHp0pa3J2knD2MgekAST4YUzuGlDsl98+Bo6EvKO25Fu768sraDUigcjNiZSMz3ibUiAe+7l1kexpOKiU5iiUCcW8Ht4IW6XrpQ6yvOXzpmszPLTZ55CdHgL0EaVMVEqzIiJ5AInkxI1fKwKz4GXWovJNvlrP+1d/VRPpV53IRhxBgMjT1yJK+NDCYvo2EjTUpFciZtJGK3pBeLU5MMsURbZ1fSKbaXwWG1vVhb0loxG7XUJtuRSrVCKWeSl1ZeqrvO2U+dz/nu77nPy713/H7m/vE5fvNz733ufe739zzf188X266IoI0LY6Lx0r4lT0IHxP1F2FE0PosQUBfGRiCoHxFtfOtTIaidDUpej1JepC22WE70cWzPu6HLbYKxci/lbrZHIOGgSKDuLLakFVzcJx30QYEtfh/5MweKFfwbSoxJEyx8UWNxiELaCDLAkagelSmoTWSdlHszL73LKkQMZn4kGFB3I+FjDXS+44p6r/5cfx8QM4XQX00lOz2ohIfZWzZXorCWB00eYd1akVXXS6hSGfBi1ApTULebPrRjguxY0kfXhDDxX4FhJRNCsVjlo4VLaABW3a3SUicGP2dAdXmUsrxaC7fVXo7aUcPe9rCisUhEik0hRLCGaMY4gPn+N+Z2P579dRiSjVSC2sK0Ya4FpjlUB8iOxNMDTPgrtAuUq44TBtStJMjniijLh6GUS+PZBClEAcbsQ5UI7Na5gVcrJHwsx3O9i3LqnYTdoHvc7xg8WReVs9+i2e9FiQR1OBJPshSNGpY7DPa8w2rKL4dbKL7k2IHlOs1xXxAFuRzjWXF/u1yjVGTRv6gwAA9DN+es/gMYz6Mw8wRHB35DeEjGwGj8xGAO/4BznY3ioJAeA9nYaiF0uj745e50HOQT+4RiNc05/KDzNEVjnP0/XnPcXorwbMN3BOiL/EOCf9gRtyFeL7+fLXpwdRDM06MTJXBA4CbiXfVG3L8LBLIzfNDtEDuvoWChflSjTgx3elb8EBxwEDuBB+xR6ahTHTJeXsQ2C78lwdxHVyBW04YGKYKDsFVPoWSNYYa9S48TP+omi7rztUTAawxSYwoUjSbG0HefnsRnOH5VyPr6Fui6Nwg9dIqPJycnyv5jwCq8z0YwqroRtelMlTHVFzQyfsI5jaJGbL0NZivVghy4lFfEiMkPWBdcqPLZ0v9NF2rISgeG7pbMeQU0SNAf6z6iE28G4w76KTLVwsU6Zo9R5FfYBm9+YTo+9OsrNLuQ9+OiojJsboaV+h6EbwGykEz9hfstuvU9KRvwBm7sq8ZD7HZS4KBwk/Xk7CbA5p4uSFA+c5S9CxjDg2HUFMZbR+IAyI7K6sdYgzDO4IAenDId+QTe0XiLHmOzo2o20Q16yjGbPvzAcwHGna2bIPohHvbbiqgBxVtIs2sqmip0siTnkCXfrH81xRjlcNkMxRa4VXAANIFQeRFhPULMDQWj41cWLqsTSLHsCrvnXXgh3se7HWlbQoMMuzPDFNCCBL7WPAe/W5kh8UM6UsbOhmB5fiCXx2MGFIjZotPHLvLv1cYKWMsxtPg5R3FIKG6ijKmuMPZGki6dj8+PROxLHYX7YEbHEoNny6P6OpG4FJzcRHwRuE25RKlFEoPs27kIL6o3VrACbFElcB9BbyN9U4217KPUoD9VIJRRpOUYM5M4RHG2CTaWluTn7IznbUu9Rdtzri/yHHLp3OeiElbcS0sq7jxi0KWwVJWTnEx9pvapFGbD8xsgMuHZAJZzHd1xZOW/oXORQDXIwP1kIlq2g1a+y23nB4bLdmaXwbU+xbWLMNZGorycgc/fkF9xFrbSAlrdr4LuvRnel/9gCz6Bz1/Dif45ftwV8NMeNyAyK0aijkl1sUw/bJ9sgrpY88DtLBv07jMO93GvVDV+y40Q/EDs0jPJiPBIINgoq2XBwPyaolT8SlzbIzVoprSiyahrI4ygu/BddVrlz4I61ByrYi1FEKAZhL8vXGQP44d8XCQYTYcn6LCPrtpOURbdPVkEtcTg5c92YJW+Hgm+myks+DEmcgn9ui/SjE0kEvpsJPgN21Pr8qVUnfo4DJ/3yMhA0rMSd5LaMQDneLhGDpUKz8VY1TD25RSlktW93yv6489TtMj5G9SEF6EimSSyj+YFgBzxwxwM2d+FwX4dJENmieHK94XjGMx+kq74NVfoVAP2LBhGtaZBncilGP/IkxhFBXcDSWCm+uSfvoDPd5BADaRchFFkMH2AMetAFagvYvWbDTjyr0sQAn9YHLPBYu67sn9VzdSIgI8a+2EsRi+o2E6W2fWaAsDkHDJ+o93yufRZj3YwCrvhvGcoaDGPDIYnqTnEIpx7i4LWpjFVCiyixmhPQMD52kMxpix8ZKQRWVwiHJHsfTKkzDxbFsinCJnMeRhgIQeTK0NQ07ElrfbJyvkSjnKpZ5ZH0B3F88Ea0sWOmoTxiOOqGurmy+hFjMLn1UgwyaeokQdkilKZfvz/+Dyc2EtW02o9gBzml5DgegIT2UuiwBwdjRLQzykz6qQezy4nh8YkvSpz689C7c8UrAwjRQPZuphwLqdoG6Kg7tA0nLXKoZUxbST55lIory7+XkYpgT3gHXg7AYthW6HDb8GxPYgfdRmuWZcYCnOpSrXYJ2rWUZPLoMqy4hD33gAZ/Olc52WJPa6CGimw9f0QYunx0ya5lKbZ8ZzvSWHE26k+7DLayu/A53HYhocg3LxOOLprEkf/OhwzBOeMI711CrmrOlGQoatP3sIICgLo+AwkmstnD4GwtwJG2hHhB98AI+tqzOFYUh/GJo2gwjc6DTf3HW7w7Ag5jRYSY987hkL6SAIGw7soBbCQPs+B6yeLdNe7ERgolPob5ZMW4pi7aUvPwrUeoB2qkD5fALXFLxfhPOVzoUhRgae4F38IjT++pv5kRXB35fglrsDAq50Mgtpf4Q9dHuCat6jYN0jH64OJ8wywXEHzfiEJTDOqaZpESSY9ybjqis9HqNnsScC4gfVMUboCOmcSFb41w5jM1vJPxb3fTBRBngQM3rqaUCfgvHgsZx+vC/PiqRVUvW+zlcM1JyiuBX+nCKO6ZbA34oZiwlF+E62WeUTmNZledDEXJuJzMa0+kym5JI9W3VFyTMJEpXUPa1xDuqGaz10Bu4C3EmPBBxwdwr5gHaxw2ri7BebLcmzEknPI2DkQkGg4DRWqmQriiOvwbxqFYxuSrpVNnUfGAdXwXTbtCI3IqZ7G11YarWoS5aGaXFX8SARkNA/6uAWQRP5/47VJJUGdYygsfQwbRWwVND8l2DY7Q+c7bCGgr/vUl6f5JJmcR/rjGXRcLrGeZFMqYHcKHTYlQeWGENWpwK9QwygyV/E8H3HCtYSGjOzlAILax4d4JCsVBLU2+Sx1+FSzKs8QOaqzYCXfi8QNzwJvu9b/UB1TY0XUppAErzp1femZ4PtCxXbcWNPRJIuMUYlM6La2grpLv/Lqz5VAuLso2QV1mKUATU9QsjEvQQ34Ft7eLH4IC0KYtBo+rC8dFfp2ByCRXpfn45usYdy8ASDV41uDcOpZWNU3uBhTliXsa+Eia558ggq9xxKthZN8JsKLfyJGOByrtG73wKe4FEV+vUNrXYPtWYFzFB3xmiteUD2cYzcWwKUosqxb4Y5rjBX8FRh2CH07hFLdnfsnUGc2MFkENdsxQfd9wyjY2RDk87EqdcAK1YSc65WNDEWiTH1AcY6xUdoP+ucfuW26wAfUYl0knlOfqsRYYvW8wctgVmNeTqmgzvK5wQ2owsxH4kdv+AEf4CYPpxHSXGlxkJ+6SiVUXCEsnO2LFLkLB8X3uyH4dsnfaCOkgC1lfdqpEtSmCmX/B01q14XkyuqL76oqboRQ8U6zGF6OkZT3OlyunFBznlawdg+jRmntHcne+lKieiH0fy8ASqMU1EY+FvFHiuzufM2LkdGlhlVQQLMpJ2Ed6Msba3JzD7CgIgK1PCKfZkNaTLaSrv04xvbjyF2DlMgyUaZyyEVds3HR3I84MVrJKIvLtmksybP4eBl3Pk2QDl36UiSjDILK04oMvV6oZVqJHFPTaz8sktKbYu4EaURwiOvulTspVvoSSti5UkHcK7nACqPc+ttCV1E62fELqmlRrShRluICOhjJz59pePTXgyHxaseydI9KWjoJteHikJ6lLGj4myGS2KdFrqNS9GUSVtilGDjfoteS54P7UlBAu1pU0X4Po+jSAMbaPmIuBOsLb8/u0ES7HgqpEcXGYIIaPeobNgAendSC6c63NB/b5JsUcnXBCkrKmSgTUQJitOYZzleda5G09JdkF9TrLV5qcYps9Z4PvoVRMRW66mgYE2sDjjuDdh/YCqi3CoZig/dSEbBTzBmYh4zkFVQ9v6nMFbgmaYVUXWS3Hnr4CAjyteAr+EeIut5YKn85hh9ERsSU5ox3Q2hllJ6sgrpA9WLh72sNj0ALWMh7k3xllb2fnoJ1fw38mEsU0ZwnQhh7BMKTm0Kq8i2mIswVLvT3yZ+Pqs+o6qcwoPb41OyUiNj2mCQT0kuEi2gwhBShTCW2hdSO/CrS9ecHvNYYur87TZPQsfvVOV0EtQ0U5+/gM9wJAofblPSDaoKFqUm4mm6HgM41LMmuF3BcyV31ZsDrTPXxuJyLlXs6astWJkjxKzpdBJVRR58hhP5KgNO2GT1aUirhCAitnzH1MoVAQwF00x8CrmhPOCwGNeC4/xLHoypXIKUF1T0pV+LvQbmMQrK47+UKBOBjdAUpBe13TkT3MIVoxW3RBHMYJODSBEbcs1VRUPMtrM4KcphXNrZgy99B0aF7UJ1aLclxKVQwT4EvLdWPOVVRUMdZZ+LIiYoembTqHyKCs1TALN18OmznaVVPUDGRDnhDwakfZSn4KkoCTnZ0YgLjsHvZVkVBfVA3gYi+3IhQYV1RTTkl6nsEQ+CfU0RAZa3VLNOeVTACfx4LqloIPAXeAgmbjtFvC3FFhQ+s3CmAy2RLeWaGtsDNsaCasxa/49BI+HlUiVarYuio6EW6NYCKNT8WVAC4X1HOkuPTCsfTYAEl8p7OaCND1BrKnQmYW88Qj8WCClBNP6M0pOawiyhf9nRCPnJSPQ2W+iTC7zBlDY8F9X/YqGil45SATS0bV9LfK8hRnsq4Qqg+B/Q5BurrQf8fDvXrBUUB3xuxoIIdTuBGv3M0CSC/pxW0nSRvgNpwH7FKpwJycc9S5RlLbX38kGfZ4KMIRL3MIFivKgtqJqI7eiJagGvZBQ4REZopPXo5yHvxIpMKebi3cp/7b6wjmwAed7yHZziPtioKahOsBvsT8BbVdKQQypfcAZYW7tfI3hp6Kl4KxhyKe9hpmPcgG8odVfXsd2SVSaMmaT+rKoKagYz3hShQY310vYXfrjZzxgMjNQ5vLVDDfkLodsuQH3sN3D8NQqKN74hrlmCMbQ5RufsVlQdzFDy1XRzv9yWcX71KCCoe9Bxsz4VwoJ/nQD4hW9GMN64qUK82v+KX4oMDKKnZjtzahYiqlaIydzwwCd89iGNeAwXmdgPjJ586yqiBvgAK5MDa5+MvDxA13BMbU3bb0O008S8R576AccvwctLzalLmvB6gMgr5+F8r8kWdypf5Oq4uOqQ0PhILqjlyMPG367sXc2tHQB/1yjIkI34QBWrrNMcxOVmmQVvOD7lhhxnpmH7eSA2oHYAbq38sqIZwMAa6aF50Cz5e1xUPGE76tilHaAvDFX4i34uh3lpguKruDrhAZMSCGgX0EazVDqsw64TnGwrqL2UZiw/6a9uLA5bsKL1gxBrPW5zmZ4GI6Wlu9fEoHDJojZhNHgIVditao6uOL1I0dzhm8mPQIRbU5EYLVWcWywSZ2fI4mUpnQT0+U3H8IB+CuvWa/qf1Y0FNcSgIzBRUj8r2jZ0M2otLTLDMvx1iwAu1WzHWA7Ggpj4mJygOrKkx2r7SUdigfHi/tZ9T3UK8h0nQhHN35TPFgprauEr2FTDwLlQYRnQutmxlycgVgYR0S8pyqbvmxoKa2rjWYkuW1vlNBtefpi6h0RPHcd+tgF30usWCmtp4TuQV1DHonHzCsv5qqYKfSZMbgOwurKYO+Cv5axvEgpq66CdCmN0NEkamapqXAUZegIv8VAxEx0Y4jCUNuldjYyp1wcTBrxqGXWsEbGV0wiIBvF4IRYiTME5RLKiphTNAoFCGVMCVkb5EfWbXDVGOh/Y/FbHDP/VwJohpx1F/rMpEdyGoHaIaCyvy5yfRMxbUGLbIlXH4CDHqR/LdWFBjBGnY0CXS3Fys1rGgxnDBv35qQRTPRSyoSYp7frL047mIBTVJcQUqR/tsjOciFtQkRQNs9Q02xnMRCf4LGagD2/zYzn8AAAAASUVORK5CYII=");
	}
#logo > h2 {
	display: inline;
	font-family: 'ClairvauxRegular',Georgia;
	font-size: 29px;
	color:#B97F36;
	white-space:nowrap;
}
.hide {
	display:none;
	}
body {
	font-family:Georgia;
	}
/*header {
	position:relative;
	text-align:center;
	top:0;
	width:100%
	}*/
nav > h2 {
	display:none
	}
.menu {
	height:40px;
	text-align:center;
	}
.menu ul {
	list-style:none; 
	}
.menu li {
	background-color:rgba(0, 0, 0, .7);
	color:#fff;
	}
.menu li li {
	font-size:.8em;
	}
.menu li li:last-child {
	border-radius: 0 0 5px 5px;
	}
.menu a:active,
.menu a:link,
.menu a:visited {
	color:#ccc;
	text-decoration:none
	}
.menu li a {
	color:#fff;
	display:block;
	cursor:hand;
	}
#menu {
	text-align:center;
	}
#slide {
	border-radius:7px 7px 0 0;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmZWQxYyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZmVkMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
	background:-moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background:linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#001fed1c', endColorstr='#1fed1c',GradientType=0 ); /* IE6-8 */
	}
aside,
#content > div {
	background-color:rgba(0, 0, 0, 0.7);
	color:#fff;
}
aside {
	font-family:Georgia;
	letter-spacing:1px;
	}
aside li {
	list-style:none
	}
aside li a {
	color:#fff;
	text-decoration:none
	}
#content {
	margin: 0 auto;
	}
#content > div {
	font-size:1em;
	}
#copyline {
	color:#fff;
	display:inline-block;
	font:11px/42px Georgia;
	font-family:Georgia;
	font-size-adjust:0.5;
	left:8px;
	letter-spacing:.1em
	}
#copyline span {
	font-family: 'ClairvauxRegular',Georgia;
	font-size: 14px;
	font-weight: bold;
	margin-right: 23px;
	}
/* Override Supersized - #controls-wrapper */
#controls-wrapper {
	background:rgba(0, 0, 0, 0.6);
	}
.new-window{
	color:#B97F36;
	text-decoration:underline;
	}
.supergui-signature{
	bottom:3px;
	margin-left:10px;
	position:absolute;
	}
.supergui-signature,
.supergui-signature a,
.supergui-signature a:active,
.supergui-signature a:link,
.supergui-signature a:visited{
	color:#676E42;
	font-family:arial;
	font-size:7px;
	letter-spacing:2px;
	text-decoration:none;
	text-transform:uppercase;
	}